div.URF_container{
    margin-top: 6rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


div.URForm{
    padding: 10rem;
    & h1{
        font-size: 5rem;
    }

    & .form_welcoming{
       margin-bottom: 20px;
    }

    & .registrationForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & input{
            padding: .8rem 1.5rem;
            outline: none;
            font-size: 1.5rem;
            width: 100%;
            margin: .8rem 0;
            border: 1.5px black solid;
            border-radius: var(--borderRadius);
        }

        & input::placeholder{
            color: black;
        }

        & button{
            background-color: black;
            color: white;
            padding: 1rem 1.5rem;
            border-radius: var(--borderRadius);
            border: none;
            width: 100%;
            font-size: 1.3rem;
            outline: none;
        }
    }
}

div.URF_sideDesign{
    padding: 5rem;
    border: 1px solid black;
    border-radius: var(--borderRadius);
}

div#formErrorsStyling{
    font-size: .9rem;
    color: black;
    letter-spacing: .05rem;
    background-color: rgba(243, 243, 243, 0.27);
    width: fit-content;
    border-radius: 20px;
    padding: .8rem;
    border: 1px red solid;
}