.navbar_container {
    top: 50px;
    width: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
    border-radius: var(--borderRadius);
}


.navbar_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;

    border: 2px solid black;
    border-radius: var(--borderRadius);
}

.navbar_section-center button {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.navbar_section {
    list-style: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.navbar_section button {
    margin: 0 5px;
}

.navbar_section-right {
    display: flex;
    flex-direction: row;

}

.navbar_section {
    text-decoration: none;
    color: black;
    text-align: end;
    margin-top: 3px;
}

.navbar_section button {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 100px;
    background-color: black;
    cursor: pointer;
    border: none;
}

.navbar_section button img {
    color: white;
    width: 25px;
    height: auto;
    transition: .2s linear;
}


.navbar_section-center button input {
    background-color: black;
    padding: 4.5px 0;
    border-radius: 100px;
    outline: none;
    width: 0;
    border: none;
    color: white;
    transition: width .2s linear;
}

input::placeholder {
    color: white;
}

/* User interaction effects */
button.searchIcon-button-active{
    /*width: 200px;*/

}

.navbar_section-center button input.searchInput-active {
    transition: .2s linear;
    width: 300px;
}



.searchedUpDiv_container {
    max-height: 338px;
    opacity: 0;
    scroll-behavior: smooth;
    overflow-y: auto;
}