div.searchedUpDiv {
    margin: 1% 25%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #d2e2e1;
}

h1.searchedUpWord {
    font-size: 15px;
    /*text-decoration: 1px black underline;*/
    color: black;
    padding: 10px 10px;
    border: 1px solid black;
    width: 60px;
    border-radius: 15px;
    background-color: white;
}

p.topic {
    font-weight: normal;
}

.searchedUpDiv .searchedUpDiv_userChoice {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0 10px;
}

.searchedUpDiv_userChoice img {
    width: 35px;
    background-color: black;
    border-radius: 100px;
    padding: 2px;
    fill: black;
    margin: 0 10px;
    cursor: pointer;
}