:root{
  --backGroundColor: white;
  --borderRadius: 50px;
}

*{
  font-family: "Calibri", sans-serif;
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backGroundColor);
}

