:root{
  --backGroundColor: white;
  --borderRadius: 50px;
  --borderRadiusComponents: 15px;
}

*{
  font-family: "Calibri", sans-serif;
  margin: .5%;
  box-sizing: border-box;
  background-color: var(--backGroundColor);
}

