nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.startingAndRegiButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

span.stdHighlightedKeywords{
    text-decoration: underline;
    text-decoration-color: #F8FD92FF;
}

.stdButtonsStyle {
    outline: none;
    border: 2px solid black;
    padding: 12px 20px;
    background-color: white;
    color: white;
    text-decoration: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    white-space: nowrap;
}

.stdTxtLinks {
    text-align-last: left;
    text-decoration: none;
    color: black;
}

.stdTxtHasBlackBC {
    /*this css class must be applied to the Link tag & the button tag*/
    color: white;
    background-color: black;
}

.landingPage_header {
    margin: 3% 0;
    font-size: 3em;
    text-align: center;
    text-align-last: center;
    width: 100%;
}

.stdEmailInputButtonCentering {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.stdInputStyling {
    font-size: 1.5em;
    border-radius: var(--borderRadius);
    outline: none;
    border: 2px solid black;
    padding: 10px 40px;
    width: 350px;
    position: relative;
}


.stdInputsIconStyling {
    position: absolute;
    z-index: 1;
    padding: 0;
    border: none;
    border-radius: 100px;
    margin: .8rem .6rem;
}

div.todaysTopics_headlights{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.todaysTopics_components{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    gap: 1em;
}


/*media query responses*/
@media screen and (width <= 850px){
    .landingPage_header {
        margin: 5% 0;
        font-size: 2em;
        text-align: center;
        text-align-last: center;
        width: 100%;
    }

    .todaysTopics_components{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1%;
    }
}

@media screen and (width <= 500px){
    .todaysTopics_components{
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .landingPage_header{
        text-align: start;
        text-align-last: start;
    }

    .stdEmailInputButtonCentering button{
        margin: 5px 0;
    }

    .stdInputStyling{
        width: 367px;
    }

    .stdTxtHasBlackBC{
        width: 100%;
        font-size: 1em;
    }

    .todaysTopics_headlights{
        margin: 10px 0;
    }
}