.bookmark_container {
    cursor: pointer;
}

.bookmark_container-active {
    width: 10vw;
    background-color: black;
    border-radius: 100px;
    transition: .1s ease-out;
}

.bookmark_container-inactive {
    width: 0;
    transition: .1s ease-out;
}

.bookmark_container img {
    background-color: black;
    border-radius: 100px;
}

