/*----searched keyword component----*/
.mpsk_container {
    border: 2px solid black;
    border-radius: var(--borderRadiusComponents);
    padding: 25px;
    /*height: 74vh;*/
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.mpsk_container:hover{
    background-color: rgba(0, 0, 0, 0.04);
}

.mpsk_headlights, span, img, div.mpskCompoFlags,
h1,
p {
    background-color: transparent;
}

h1#mpsk_title {
    font-size: 3em;
    color: black;
}

.mpsk_headlights {
    display: flex;
    gap: 5px;

    & .mpsk_headlights, span, img, div.ttCompoFlags,
    h1,
    p {
        background-color: transparent;
    }
}

.componentTopLayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    text-wrap: nowrap;
}

.mpsk_headlights img{
    background-color: black;
    border-radius: 100px;
    cursor: pointer;
}

span#mpsk_h5Topic {
    letter-spacing: 1px;
    color: black;
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.1em;
}

div.mpsk_briefIntro {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;

    & a#gotoCompoLink {
        background-color: transparent;


        & img {
            display: block;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.68);
            align-items: center;
        }
    }
}

div.mpsk_briefIntro h3{
    background-color: blue;
}