.ttCompo_container {
    background-color: #F8FD92FF;
    border-radius: var(--borderRadiusComponents);
    padding: 20px;
}


.ttCompo_headlights, span, img, div.ttCompoFlags,
h1,
p {
    background-color: transparent;
}

h1#tt_title{
    font-size: 50px;
}

.componentTopLayer{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    text-wrap: nowrap;
}

.ttCompo_headlights {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-wrap: nowrap;
    align-items: center;
}

.ttCompo_headlights img{
    fill: black;
    background-color: black;
    border-radius: 100px;
}

span#h5Topic {
    letter-spacing: 1px;
}